body {
  font-family: "Poppins", sans-serif !important;
}

#barra {
  width: 100%;
  height: 7vh;
  background-color: #1c0445;
}

#barra-de-navegacion {
  width: 100%;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  position: relative;
  background-color: #1c0445;
  color: #fff;
  z-index: 2;
}
#barra-de-navegacion img {
  width: 30px;
}
#barra-de-navegacion .navbar {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #9109cd;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 3;
  -webkit-transform: translate3d(0px, -100%, 0px);
          transform: translate3d(0px, -100%, 0px);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#barra-de-navegacion .navbar a {
  display: block;
  margin-left: 20px;
  color: #660366;
  font-size: 3rem;
  font-weight: 600;
  text-decoration: none;
}
#barra-de-navegacion .navbar .element-1 {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 35px;
}
#barra-de-navegacion .navbar .line {
  width: 200px;
  height: 1.5px;
  margin: 50px 0 10px 30px;
  background-color: #660366;
}
#barra-de-navegacion .navbar .redes {
  margin: 10px 0 0 30px;
  text-align: left;
}
#barra-de-navegacion .navbar .redes a {
  text-decoration: none;
}
#barra-de-navegacion .navbar .redes a img {
  margin: 10px;
  width: 40px;
}
#barra-de-navegacion .active-navbar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  will-change: transform !important;
  -webkit-transform: translate3d(0px, 0%, 0px) !important;
          transform: translate3d(0px, 0%, 0px) !important;
}

.active-scroll {
  background-color: #1e0150 !important;
  position: fixed !important;
}

.active-color-menu {
  color: #fff !important;
  font-size: 3.3rem !important;
}

header {
  background: rgb(29, 17, 96);
  background: radial-gradient(circle, rgb(29, 17, 96) 6%, rgb(26, 14, 89) 29%, rgb(29, 0, 62) 100%);
  border-color: #1c0445;
}

.titulos {
  padding: 50px;
}
.titulos p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin: 10px;
}
.titulos h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin: 5px;
}

.avatares {
  position: relative;
  height: 50vh;
  border-bottom-color: #1c0445;
}
.avatares .estrella--1 {
  width: 25px;
  position: absolute;
  top: 30px;
  left: 60px;
}
.avatares .estrella--2 {
  width: 20px;
  position: absolute;
  top: 50px;
  right: 120px;
}
.avatares .estrella--3 {
  width: 50px;
  position: absolute;
  top: 110px;
  left: 35px;
}
.avatares .estrella--4 {
  width: 25px;
  position: absolute;
  top: 200px;
  right: 30px;
}
.avatares .luna--media {
  width: 90%;
  position: absolute;
  bottom: 0;
}
.avatares .astronauta2 {
  width: 300px;
  position: absolute;
  top: 25px;
  z-index: 1;
}
.avatares .asteroide {
  width: 15px;
  position: absolute;
  top: 0;
  left: 130px;
}
.avatares .mercurio {
  width: 25px;
  position: absolute;
  top: 40px;
  right: 20px;
}
.avatares .venus {
  width: 15px;
  position: absolute;
  top: 100px;
  right: 90px;
}
.avatares .galaxia--1 {
  width: 30px;
  position: absolute;
  top: 4px;
  right: 100px;
}
.avatares .galaxia--2 {
  width: 18px;
  position: absolute;
  bottom: 130px;
  right: 30px;
}
.avatares .planeta {
  width: 18px;
  position: absolute;
  bottom: 130px;
  left: 30px;
}

main {
  background-color: #1c0445;
  border-color: #1c0445;
}

.sobreMi {
  padding: 20px;
  position: relative;
  height: 90vh;
}
.sobreMi h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin: 10px;
}
.sobreMi p {
  color: #fff;
  font-size: 1rem;
  font-size: 400;
  margin: 10px;
}
.sobreMi .astronauta8 {
  width: 300px;
}
.sobreMi .estrella--5 {
  width: 30px;
  position: absolute;
  bottom: 90px;
  right: 30px;
}
.sobreMi .estrella--6 {
  width: 30px;
  position: absolute;
  bottom: 190px;
  left: 30px;
}
.sobreMi .galaxia--3 {
  width: 30px;
  position: absolute;
  bottom: 200px;
  right: 30px;
}
.sobreMi .galaxia--4 {
  width: 30px;
  position: absolute;
  bottom: 90px;
  left: 30px;
}

.stack {
  padding: 20px;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.stack h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 20px 0;
}
.stack .btn-desing {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  color: #720e9e;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #720e9e;
  background-color: transparent;
  cursor: pointer;
}
.stack .active {
  background-color: #800080;
  color: #33006F;
  border-color: #800080;
}
.stack #contenedor-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 30px 0;
  height: 150px;
}
.stack #contenedor-img img {
  display: block;
  width: 40px;
  margin: 10px;
}
.stack .astronauta4 {
  width: 300px;
}
.stack .venus--2 {
  width: 90%;
  position: absolute;
  bottom: -180px;
}

.proyectos {
  padding: 20px;
}
.proyectos h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin: 20px 0 40px 0;
}

.carousel-control-prev {
  left: -12px;
}

.carousel-control-next {
  right: -12px !important;
}

.carousel-inner {
  border-radius: 20px !important;
}