body {
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth !important;
  background-color: #121212 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4acafd;
  border-radius: 15px;
}

#barra {
  width: 100%;
  height: 7vh;
  background-color: #121212;
}

#barra-de-navegacion {
  width: 100%;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  position: relative;
  background-color: #121212;
  color: #fff;
  z-index: 2;
}
#barra-de-navegacion img {
  width: 30px;
}
#barra-de-navegacion .navbar {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #4e2c96;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 3;
  -webkit-transform: translate3d(0px, -100%, 0px);
          transform: translate3d(0px, -100%, 0px);
}
#barra-de-navegacion .navbar a {
  display: block;
  margin-left: 20px;
  color: #342163;
  font-size: 3rem;
  font-weight: 600;
  text-decoration: none;
}
#barra-de-navegacion .navbar .element-1 {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 35px;
}
#barra-de-navegacion .navbar .line {
  width: 200px;
  height: 1.5px;
  margin: 50px 0 10px 30px;
  background-color: #660366;
}
#barra-de-navegacion .navbar .redes {
  margin: 10px 0 0 30px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#barra-de-navegacion .navbar .redes a {
  text-decoration: none;
}
#barra-de-navegacion .navbar .redes a img {
  margin: 10px;
  width: 40px;
}
#barra-de-navegacion .active-navbar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  will-change: transform !important;
  -webkit-transform: translate3d(0px, 0%, 0px) !important;
          transform: translate3d(0px, 0%, 0px) !important;
}

.active-scroll {
  position: fixed !important;
}

.active-color-menu {
  color: #fff !important;
  font-size: 3.3rem !important;
}

.slide-in-top {
  -webkit-animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-out-top {
  -webkit-animation: slide-out-top 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-top 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
.scale-up-center {
  -webkit-animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.navbar-2 .cols-navbar-1 img {
  width: 30px;
}
.navbar-2 .cols-navbar-2 a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar-2 .cols-navbar-2 a:hover {
  color: #4acafd;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header {
  background-image: url(../assets/banner-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.titulos {
  padding: 50px;
}
.titulos p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
}
.titulos h1 .typed {
  color: #fff;
  font-size: 44px;
  font-weight: 600;
  margin: 5px;
  height: 58px;
}

.avatar {
  position: relative;
}
.avatar img {
  -webkit-animation: updown 3s linear infinite;
          animation: updown 3s linear infinite;
  width: 360px;
}

.typed-cursor {
  background-color: transparent;
  color: #fff;
  width: 4px !important;
}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes updown {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
#about {
  height: 90vh;
  background-image: url(../assets/background-about.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about .sobre-mi h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin: 10px;
}
#about .sobre-mi p {
  color: #fff;
  font-size: 1rem;
  font-size: 400;
  margin: 10px;
}
#about .avatar2 {
  position: relative;
}
#about .avatar2 .astronauta8 {
  width: 300px;
}
#about .avatar2 .estrella--5 {
  width: 30px;
  position: absolute;
  bottom: 90px;
  right: 30px;
}
#about .avatar2 .estrella--6 {
  width: 30px;
  position: absolute;
  bottom: 250px;
  left: 30px;
}
#about .avatar2 .galaxia--3 {
  width: 30px;
  position: absolute;
  bottom: 260px;
  right: 30px;
}
#about .avatar2 .galaxia--4 {
  width: 30px;
  position: absolute;
  bottom: 90px;
  left: 30px;
}

#stack {
  height: 100vh;
  background-image: url(../assets/background-stack.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#stack .stack {
  height: 40%;
}
#stack .stack h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 20px 0;
}
#stack .stack .btn-desing {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  color: #720e9e;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #720e9e;
  background-color: transparent;
  cursor: pointer;
}
#stack .stack .active {
  background-color: #800080;
  color: #33006F;
  border-color: #800080;
}
#stack .stack #contenedor-img img {
  display: block;
  width: 40px;
  margin: 10px;
}
#stack .container-img {
  position: relative;
  overflow: hidden;
  height: 60%;
}
#stack .container-img .astronauta4 {
  width: 300px;
  position: absolute;
  top: 20px;
}
#stack .container-img .venus--2 {
  width: 90%;
  position: absolute;
  bottom: -180px;
}

#projects {
  background-image: url(../assets/background-stack.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#projects .projects h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin: 20px 0 50px 0;
}
#projects .projects .container-box .boxProjects {
  width: 300px;
  height: 360px;
  border-radius: 0 25px 0 25px;
  border: 1.5px solid #372560;
  background: rgba(55, 37, 96, 0.4196078431);
  -webkit-backdrop-filter: 10px;
          backdrop-filter: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#projects .projects .container-box .boxProjects .cols-1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#projects .projects .container-box .boxProjects .cols-2 h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 10px 0 20px 0;
  color: #fff;
}

#certificates {
  background-image: url(../assets/background-stack.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#certificates .certificates h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 20px 0 50px 0;
  color: #fff;
}

#contact {
  background-image: url(../assets/background-stack.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact .contact h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin: 20px 0 50px 0;
}
#contact .contact div img {
  width: 25px;
  color: #fff;
  margin: 0 10px 0 0;
}
#contact .contact div p {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin: 0;
}
#contact .avatar-contact img {
  width: 350px;
}

footer {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer div p {
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 992px) {
  header {
    height: 100vh;
  }
  .section-header-2 {
    height: 90%;
  }
  #about {
    height: 100vh;
  }
  #contenedor-img {
    width: 70%;
  }
  .stack {
    height: 100% !important;
  }
  .container-img {
    height: 100% !important;
  }
  .venus--2 {
    width: 82% !important;
    bottom: -250px !important;
  }
  .md7 {
    width: 450px !important;
  }
  .contact h2 {
    font-size: 3rem !important;
  }
  .contact div img {
    width: 33px !important;
  }
  .contact div p {
    font-size: 1.3rem !important;
  }
  .avatar-contact img {
    width: 450px !important;
  }
}
@media screen and (min-width: 768px) {
  .avatar img {
    width: 540px !important;
  }
  .venus--2 {
    width: 70% !important;
    bottom: -300px !important;
  }
  #about .avatar2 .astronauta8 {
    width: 450px;
  }
  #about .avatar2 .estrella--5 {
    width: 50px;
  }
  #about .avatar2 .estrella--6 {
    width: 50px;
  }
  #about .avatar2 .galaxia--3 {
    width: 50px;
  }
  #about .avatar2 .galaxia--4 {
    width: 50px;
  }
  .btn-desing {
    font-size: 1.4rem;
  }
  #contenedor-img {
    width: 80%;
    height: 150px;
  }
  #contenedor-img img {
    width: 50px !important;
    margin: 15px !important;
  }
  .astronauta4 {
    width: 350px !important;
  }
  #projects .proyectos .container-box {
    width: 80%;
  }
  #projects .proyectos .container-box .boxProjects {
    width: 540px;
    height: 500px;
  }
}
@media screen and (min-width: 576px) {
  .titulos h1 {
    font-size: 48px;
  }
  .titulos p {
    font-size: 23px;
  }
  #about .sobre-mi h2 {
    font-size: 3rem;
  }
  #about .sobre-mi p {
    font-size: 1.2rem;
  }
  .stack h2 {
    font-size: 3rem !important;
  }
  .venus--2 {
    bottom: -320px;
  }
  .projects h2 {
    font-size: 3rem !important;
  }
  .certificates h2 {
    font-size: 3rem !important;
  }
  .contactos h2 {
    font-size: 3rem !important;
  }
  .contactos div img {
    width: 30px !important;
  }
  .contactos div p {
    font-size: 1rem;
  }
}