header{
    background-image: url(../assets/banner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

.titulos{
    padding: 50px;
    p{
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        margin: 10px;
    }
    h1{
        .typed{
            color: #fff;
            font-size: 44px;
            font-weight: 600;
            margin: 5px;
            height: 58px;
        }
    }
}
.avatar{
    position: relative;
    img{
        animation: updown 3s linear infinite;
        width: 360px;
    }
}
.typed-cursor{
    background-color: transparent;
    color: #fff;
    width: 4px !important;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}