header{
    background-image: url(../assets/banner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

.titulos{
    padding: 50px;
    p{
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        margin: 10px;
    }
    h1{
        color: #fff;
        font-size: 44px;
        font-weight: 600;
        margin: 5px;
    }
}

.avatar{
    position: relative;
    img{
        width: 360px;
    }
}
