header{
    background: rgb(29,17,96);
    background: radial-gradient(circle, rgba(29,17,96,1) 6%, rgba(26,14,89,1) 29%, rgba(29,0,62,1) 100%);
    border-color: #1c0445;
}

.titulos{
    padding: 50px;
    p{
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        margin: 10px;
    }
    h1{
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
        margin: 5px;
    }
}

.avatares{
    position: relative;
    height: 50vh;
    border-bottom-color: #1c0445;
    .estrella--1{
        width: 25px;
        position: absolute;
        top: 30px;
        left: 60px;
    }
    .estrella--2{
        width: 20px;
        position: absolute;
        top: 50px;
        right: 120px;
    }
    .estrella--3{
        width: 50px;
        position: absolute;
        top: 110px;
        left: 35px;
    }
    .estrella--4{
        width: 25px;
        position: absolute;
        top: 200px;
        right: 30px;
    }
    
    .luna--media{
        width: 90%;
        position: absolute;
        bottom: 0;

    }
    
    .astronauta2{
        width: 300px;
        position: absolute;
        top: 25px;
        z-index: 1;
    }
    .asteroide{
        width: 15px;
        position: absolute;
        top: 0;
        left: 130px;
    }
    .mercurio{
        width: 25px;
        position: absolute;
        top: 40px;
        right: 20px;
    }
    .venus{
        width: 15px;
        position: absolute;
        top: 100px;
        right: 90px;
    }
    .galaxia--1{
        width: 30px;
        position: absolute;
        top: 4px;
        right: 100px;
    }
    .galaxia--2{
        width: 18px;
        position: absolute;
        bottom: 130px;
        right: 30px;
    }
    .planeta{
        width: 18px;
        position: absolute;
        bottom: 130px;
        left: 30px;
    }
}
