#about{
    height: 90vh;
    background-image: url(../assets/background-about.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .sobre-mi{
        h2{
            color: #fff;
            font-size: 2rem;
            font-weight: 600;
            margin: 10px;
        }
        p{
            color: #fff;
            font-size: 1rem;
            font-size: 400;
            margin: 10px;
        }
    }
    .avatar2{
        position: relative;
        .astronauta8{
            width: 300px;
        }
        .estrella--5{
            width: 30px;
            position: absolute;
            bottom: 90px;
            right: 30px;
        }
        .estrella--6{
            width: 30px;
            position: absolute;
            bottom: 250px;
            left: 30px;
        }
        .galaxia--3{
            width: 30px;
            position: absolute;
            bottom: 260px;
            right: 30px;
        }
        .galaxia--4{
            width: 30px;
            position: absolute;
            bottom: 90px;
            left: 30px;
        }
    }
}
#stack{
    height: 100vh;
    background-image: url(../assets/background-stack.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .stack{
        height: 40%;
        h2{
            color: #fff;
            font-size: 2rem;
            font-weight: 600;
            margin: 0 0 20px 0;
        }
        .btn-desing{
            display: inline-block;
            font-size: 1rem;
            font-weight: 400;
            color: #720e9e;
            margin: 10px;
            padding: 15px;
            border-radius: 5px;
            border: 2px solid #720e9e;
            background-color: transparent;
            cursor: pointer;
        }
        .active{
            background-color:#800080;
            color: #33006F;
            border-color: #800080;
        }
        #contenedor-img{
            img{
                display: block;
                width: 40px;
                margin: 10px;
            }
        }
    }
    .container-img{
        position: relative;
        overflow: hidden;
        height: 60%;
        .astronauta4{
            width: 300px;
            position: absolute;
            top: 20px;
        }
        .venus--2{
            width: 90%;
            position: absolute;
            bottom: -180px;
        }
    }
}

#projects{
    background-image: url(../assets/background-stack.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .projects{
        h2{
            color: #fff;
            font-size: 2rem;
            font-weight: 600;
            margin: 20px 0 50px 0;
        } 
        .container-box{
            .boxProjects{
                width: 300px;
                height: 360px;
                border-radius: 0 25px 0 25px;
                border: 1.5px solid #372560;
                background: #3725606b;
                backdrop-filter: 10px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                .cols-1{
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .cols-2{
                    h3{
                        font-size: 1rem;
                        font-weight: 500;
                        margin: 10px 0 20px 0;
                        color: #fff;
                    }
                }
            }
        }  
    }
}

#certificates{
    background-image: url(../assets/background-stack.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .certificates{
        h2{
            font-size: 2rem;
            font-weight: 600;
            margin: 20px 0 50px 0;
            color: #fff;
        }
    }
}

#contact{
    background-image: url(../assets/background-stack.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .contact{
        h2{
            font-size: 2rem;
            font-weight: 600;
            color: #fff;
            text-align: center;
            margin: 20px 0 50px 0;
        }
        div{
            img{
                width: 25px;
                color: #fff;
                margin: 0 10px 0 0;
            }
            p{
                font-size: 14px;
                font-weight: 500;
                color: #fff;
                margin: 0;
            }
        }
    }
    .avatar-contact{
        img{
            width: 350px;
        }
    }
}

footer{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        p{
            font-size: 12px;
            color: #fff;
            text-align: center;
            margin: 0;
        }  
    }
}