main{
    background-color: #1c0445;
    border-color: #1c0445;
}
.sobreMi{
    padding: 20px;
    position: relative;
    height: 90vh;
    h2{
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
        margin: 10px;
    }
    p{
        color: #fff;
        font-size: 1rem;
        font-size: 400;
        margin: 10px;
    }
    .astronauta8{
        width: 300px;
    }
    .estrella--5{
        width: 30px;
        position: absolute;
        bottom: 90px;
        right: 30px;
    }
    .estrella--6{
        width: 30px;
        position: absolute;
        bottom: 190px;
        left: 30px;
    }
    .galaxia--3{
        width: 30px;
        position: absolute;
        bottom: 200px;
        right: 30px;
    }
    .galaxia--4{
        width: 30px;
        position: absolute;
        bottom: 90px;
        left: 30px;
    }
}

.stack{
    padding: 20px;
    position: relative;
    overflow: hidden;
    height: 100vh;
    h2{
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
        margin: 0 0 20px 0;
    }
    .btn-desing{
        display: inline-block;
        font-size: 1rem;
        font-weight: 400;
        color: #720e9e;
        margin: 10px;
        padding: 15px;
        border-radius: 5px;
        border: 2px solid #720e9e;
        background-color: transparent;
        cursor: pointer;
    }
    .active{
        background-color:#800080;
        color: #33006F;
        border-color: #800080;
    }
    #contenedor-img{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin: 20px 0 30px 0;
        height: 150px;
        img{
            display: block;
            width: 40px;
            margin: 10px;
        }
    }
    .astronauta4{
        width: 300px;
    }
    .venus--2{
        width: 90%;
        position: absolute;
        bottom: -180px;
    }
}

.proyectos{
    padding: 20px;
    h2{
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
        margin: 20px 0 40px 0;
    } 
}

.carousel-control-prev {
    left: -12px;
}
.carousel-control-next {
    right: -12px !important;
}

.carousel-inner {
    border-radius: 20px !important;
}