#barra{
    width: 100%;
    height: 7vh;
    background-color: #1c0445;
}
#barra-de-navegacion{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    position: relative;
    background-color: #1c0445;
    color: #fff;
    z-index: 2;
    img{
        width: 30px;
    }
    .navbar{
        display: none !important;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #9109cd;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 3;
        a{
            display: block;
            margin-left: 20px;
            color: #660366;
            font-size: 3rem;
            font-weight: 600;
            text-decoration: none;
        }
        .element-1{
            position: absolute;
            top: 30px;
            left: 30px;
            width: 35px;
        }
        .x{
            position: absolute;
            top: 30px;
            right: 30px;
            width: 25px;
        }
        .line{
            width: 200px;
            height: 1.5px;
            margin: 50px 0 10px 30px;
            background-color: #660366;

        }
        .redes{
            margin: 10px 0 0 30px;
            text-align: left;
            img{
                margin: 10px;
                width: 40px;
            }
        }
    }
    .active-navbar{
        display: flex !important;
    }
    #menu{
        display: block;
        background: transparent;
        border-color: transparent;
        border: 0;
        img{
            width: 30px;
        }
    }
}

.active-scroll{
    background-color: #1e0150!important;
    position: fixed !important;

}

.active-color-menu{
    color: #fff !important;
    font-size: 3.3rem !important;
}