#barra{
    width: 100vw;
    height: 7vh;
    background-color: #1c0445;
}
#barra-de-navegacion{
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    position: relative;
    background-color: #1c0445;
    color: #fff;
    z-index: 2;
    img{
        width: 30px;
    }
    .navbar{
        display: none !important;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #720e9e;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 3;
        a{
            display: block;
            margin-left: 20px;
            color: #800080;
            font-size: 3rem;
            font-weight: 600;
            text-decoration: none;
        }
        .element-1{
            position: absolute;
            top: 30px;
            left: 30px;
            width: 35px;
        }
        .x{
            position: absolute;
            top: 30px;
            right: 30px;
            width: 25px;
        }
    }
    .active-navbar{
        display: flex !important;
    }
    #menu{
        display: block;
        background: transparent;
        border-color: transparent;
        border: 0;
        img{
            width: 30px;
        }
    }
}

.active-scroll{
    background-color: #33006F !important;
    position: fixed !important;
}
