@import "body";
@import "navbar";
@import "header";
@import "main";

@media screen and (min-width: 992px) {
    header{
        height: 100vh;
    }
   
    .section-header-2{
        height: 90%;
    }
    #about{
        height: 100vh;
    }
    #contenedor-img{
        width: 70%;
    }
    .stack{
        height: 100% !important;
    }
    .container-img{
        height: 100% !important;
    }
    .venus--2 {
        width: 82% !important;
        bottom: -250px !important;
    }
    .container-carousel{
        height: 80% !important;
    }
    .container-md7{
        width: 50% !important;
        height: 100% !important;
        .md7{
            width: 450px !important;
        }
    }
    .contact{
        h2{
            font-size: 3rem !important;
        }
        div{
            img{
                width: 33px !important;
            }
            p{
                font-size: 1.3rem !important;
            }
        }
    }
    .avatar-contact{
        img{
            width: 450px !important;
        }
    }
}

@media screen and (min-width: 768px) {
    h1{
        height: auto !important;
        .typed{
            font-size: 50px;
            height: 58px;
        }
    }
    
    .avatar{
        img{
            width: 540px !important;
        }
    }
    .venus--2{
        width: 70% !important;
        bottom: -300px !important;
    }
    #about{
        .avatar2{
            .astronauta8{
                width: 450px; 
            }
            .estrella--5{
                width: 50px;
            }
            .estrella--6{
                width: 50px;
            }
            .galaxia--3{
                width: 50px;
            }
            .galaxia--4{
                width: 50px;
            }
             
        } 
    }
    .btn-desing{
        font-size: 1.4rem;
    }
    #contenedor-img{
        width: 80%;
        height: 150px;
        img{
            width: 50px !important;
            margin: 15px !important;
        }
    }
    .md4 {
        width: 350px !important;
    }
    #projects{
        .proyectos{
            .container-box{
                width: 80% ;
                .boxProjects{
                    width: 540px ;
                    height: 500px ;
                } 
            }
        }
    }
}

@media screen and (min-width: 576px) {
    .titulos {
        h1 {
            .typed{
                font-size: 48px;
            }
        }
        p{
            font-size: 23px;
        }
    }
    #about{
        .sobre-mi {
            h2{
                font-size: 3rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    } 
    .stack {
        h2 {
            font-size: 3rem !important;
        }
    }
    .venus--2{
        bottom: -320px;
    }
    .projects{
        h2{
            font-size: 3rem !important;
        }
    } 
    .certificates{
        h2 {
            font-size: 3rem !important;
        } 
    }  
    .contactos{
        h2 {
            font-size: 3rem !important;
        }
        div{
            img{
                width: 30px !important;
            }
            p{
                font-size: 1rem;
            }
        }
    }
}